@@ -1,22 +1,25 @@
* {
  margin: 0;
  padding: 0;
}
body {
  border-top: 18px solid #1098ad;
  font-size: 22px;
  font-family: sans-serif;
  position: relative;
  display: block;
}

.body-wrapper {
  width: 700px;
  width: 1100px;
  margin: 0px auto;
}

.header {
  background-color: #c0bcbc;
  padding: 0px 40px 5px 14px;

  display: flex;
  justify-content: space-between;
}

.title {
  color: #1098ad;
  font-size: 30px;
  font-style: italic;
  text-transform: uppercase;
}
.bg {
  font-size: 20px;
  margin: 30px 0px 0px 30px;
  display: inline-block;
}
.nav {
  color: #1098ad;
  margin-right: 20px;
}
.blog-title {
  margin-top: 50px;
  font-size: 40px;
  color: #1098ad;
}
.profile-picture {
  height: 50px;
  margin-top: 40px;
}
.posted-by {
  font-style: italic;
  font-size: 20px;
  margin-top: 5px;
}
.post-img {
  width: 100%;
  height: auto;
  margin-top: 20px;
}
p {
  margin-bottom: 20px;
}
h1 {
  color: #1098ad;
}
/* h3 {
  color: #1098ad;
} */
.author_box {
  display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
}
.author {
  margin-top: 0px;
  margin-bottom: 15px;
  display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  font-style: italic;
  font-size: 18px;
  /* padding-right: 20px 0px 100px 30px; */
}

.images {
  width: 75px;
  height: 75px;
}
a:link {
  text-decoration: none;
}
a:link,
a:visited {
  color: #1098ad;
}
a:hover {
  color: red;
  border-bottom: 2px solid red;
}
.aside {
  background-color: #f7f7f7;
  width: 300px;
  padding: 50px;
  border-bottom: 5px solid #1098ad;
  border-top: 5px solid #1098ad;
}
/* 
inline
block
inline-block
*/
.images {
  display: block;
}
.related-posts-ul {
  list-style: none;
}

.top {
  font-size: 16px;
  color: black;
  font-weight: bold;
  padding: 7px 10px 7px;
  background-color: rgb(243, 215, 1);
  margin-right: 95.5%;
  position: absolute;
  top: 126px;
  right: -800px;
}
.sidebar {
width: 310px;
height: 420px;
font-family: sans-serif;
font-size: 16px;
background-color: #f7f7f7;
/* border-bottom: #1098ad; */
margin-right: 20%;
margin-left: 100%;
padding: 1% 0% 0.5% 0%;
position: absolute;
top: 150px;
right: -100px;
align-content: center;
border-top: 5px solid #1098ad;
border-bottom: 5px solid #1098ad;
}
h3 {
  font-size: 18px;
  align-items: center;
  text-transform: uppercase;
  font-family: sans-serif;
  margin-bottom: 30px;
  margin-left: 0px;
}
.content {
  position: relative;
  margin-right: 380px;
}
.related {
  list-style: none;
  margin-left: 0px;
}
ol,
ul {
  /* margin-left: 50px; */
  margin-bottom: 20px;
}
.related_top {
  align-items: center;
  margin: 7% 10% 7% 27%;
}
.related_link:link {
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 5px;
  display: block;
}
.related_author {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
}
.related_post {
  display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}
.like_btn {
  background-color: antiquewhite;
  border: 2px solid rgb(133, 70, 70);
  padding: 7px 10px 7px;
  position: absolute;
  top: 1590px;
  right: 70px;
}